@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap');
    
    body{
        background-color:#FFFEFE;
        display: inline;
        justify-content: center;
        align-items: center;
        

    }

    .sign{
        background-color: #F6ECF9;
        width: 25%;
        height: 78.125%;
        padding: 1% 2% 0% 2%;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.477);
        margin: 2% 0px 0px 35%;
        
    }

    h1 {
       text-align: left;
       margin: 30px 0px 0px 45px;
       font-family: "Nunito", sans-serif;
       font-weight: 800;
       font-size: 32px;
       color: #43085C;
       
    }

    h3 {
        margin: 0px 0px 30px 50px;
        text-align: left;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f88;
    }

    input[type=text], input[type=email], input[type=password] {
        width: 80%;
        height: 10%;
        margin: 0px 5% 15px 10%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        padding-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
    }

    .user{
        background-image: url(img/user.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }

    .mail{
        background-image: url(img/mail.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }

    .password{
        background-image: url(img/pass.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }

    .confirm{
        background-image: url(img/pass.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }


    button{
        width: 60%;
        height: 6%;
        margin: 0px 63px 0px 20%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #43085C;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
    }

    p{
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f6b;
        margin: 0px 0 0px 0%;
    }

    a{
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        color: #43085C;
        font-weight: 800;
    }

    .or hr {
        width: 100px;
        margin: 0 10px; 
        border-top: 0px;
        border-radius: 10px;
        border-color: #43085ca3;     
        
    }

    .or {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f92;
        margin-right: 0px;

    }

   .links {
        display: flex;
        justify-content: center;  
        align-items: center;    
        gap: 10px;                
    
    }

    .ggl, .fb {
        display: inline-block;
    }

    
   
