@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap');
    
    body{
        background-color:#FFFEFE;
        display: inline;
        justify-content: center;
        align-items: center;
        

    }

    .sign{
        background-color: #F6ECF9;
        width: 420px;
        height: 575px;
        padding: 10px 0px 0px 35px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.477);
        margin: 20px 0px 0px 550px;
    }

    h1 {
       text-align: left;
       margin: 30px 0px 0px 45px;
       font-family: "Nunito", sans-serif;
       font-weight: 800;
       font-size: 32px;
       color: #43085C;
       
    }

    h3 {
        margin: 0px 0px 30px 50px;
        text-align: left;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f88;
    }

    input[type=text], input[type=email], input[type=password] {
        width: 300px;
        height: 61px;
        margin: 0px 42px 15px 42px;
        border: none;
        border-radius: 10px;
        padding: 20px;
        padding-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
    }

    .user{
        background-image: url(img/user.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }

    .mail{
        background-image: url(img/mail.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }

    .password{
        background-image: url(img/pass.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }

    .confirm{
        background-image: url(img/pass.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 20px;
    }


    button{
        width: 254px;
        height: 36px;
        margin: 0px 63px 0px 63px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #43085C;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
    }

    p{
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f6b;
        margin: 0px 40px 0px 0px;
    }

    a{
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        color: #43085C;
        font-weight: 800;
    }

    .or hr {
        width: 100px;
        margin: 0 10px; 
        border-top: 0px;
        border-radius: 10px;
        border-color: #43085ca3;     
        
    }

    .or {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f92;
        margin-right: 35px;

    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .ggl{
        margin-right: 30px;
         
    }

    .fb{
        margin-right: 30px;
    }

    @media (max-width:600px) {

        body{
        background-color:#FFFEFE;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

    }

       .sign{
        background-color: #F6ECF9;
        width: 350px;
        height: 500px;
        padding: 10px 0px 0px 25px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.477);
        margin: 0px 0px 50px 50px;
    }

    h1 {
       text-align: left;
       margin: 30px 0px 0px 15px;
       font-family: "Nunito", sans-serif;
       font-weight: 800;
       font-size: 28px;
       color: #43085C;
       
    }

    h3 {
        margin: 0px 0px 30px 20px;
        text-align: left;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f88;
    }

    input[type=text], input[type=email], input[type=password] {
        width: 250px;
        height: 45px;
        margin: 0px 0px 15px 35px;
        border: none;
        border-radius: 10px;
        padding: 20px;
        padding-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
    }

    .user{
        background-image: url(img/user.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 18px;
    }

    .mail{
        background-image: url(img/mail.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 18px;
    }

    .password{
        background-image: url(img/pass.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 18px;
    }

    .confirm{
        background-image: url(img/pass.png);
        background-repeat: no-repeat;
        background-position: 20px;
        background-size: 18px;
    }


    button{
        width: 200px;
        height: 30px;
        margin: 0px 63px 0px 63px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #43085C;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
    }

    p{
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #3a094f6b;
        margin: 0px 25px 0px 0px;
    }

    a{
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        color: #43085C;
        font-weight: 800;
    }

    .or hr {
        width: 60px;
        margin: 0 10px; 
        border-top: 0px;
        border-radius: 10px;
        border-color: #43085ca3;     
        
    }

    .or {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #3a094f92;
        margin-right: 30px;
        margin-top: 5px;

    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .ggl, .fb{
        margin-top: 5px;
        margin-right: 20px;
        width: 28px;
        height: 28px;
         
    }

    .logo{
        
        padding: 20px 0px 20px 50px;
        height: 70px;
    }
